.bg-green {
    background-color: #4caf4e;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.txt-warning {
    color: #ffd200;
}

.txt-white {
    color: #FFFFFF !important;
}

.page-header {
    min-height: 600px !important;

}

.responsive-header-select {
    width: 150px !important;
}

.page-header-compact {
    height: 45vh !important;;
    min-height: 250px !important;;
}

.page-header-compact-sm {
    height: 30vh !important;
    min-height: 280px !important;
}

.gap {
    margin: 20px 0 10px;
}

.responsive-header-select > div {
    margin: 0 !important;
}

.responsive-header-select > div > button {
    color: #FFFFFF !important;
}

@media (max-width: 768px) {
    .page-header-compact {
        height: 660px !important;;
        text-align: center;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #a2a0a6 !important;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #a2a0a6 !important;;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #a2a0a6 !important;;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #a2a0a6 !important;;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #a2a0a6 !important;;
    }

    .btSearchNav {
        color: #000 !important;
    }
}

/*mobile*/
@media (min-width: 991px) {
    .page-header-compact {
        height: 350px !important;
        min-height: 250px !important;;
    }

    .page-header-compact-sm {
        height: 350px !important;
        min-height: 350px !important;
    }

    .responsive-header-select {
        width: 100%;
    }

}

@media only screen and (max-width: 650px) {
    .page-header {
        min-height: 600px !important;
        margin-top: -100px !important;;
    }

    .btSearchNav > div > button {
        color: #3d3d3d !important;
    }
}

@keyframes glowing {
    0% {
        background-color: rgba(196, 163, 0, 0);
    }

    50% {
        background-color: rgba(0, 0, 0, 0.11);
    }
    100% {
        background-color: rgba(196, 163, 0, 0);
    }
}

.button-glow {
    animation: glowing 3000ms infinite;
}

.na-label {
    padding-top: 27px;
    padding-bottom: 12px;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.is-flex .box {
    background: none;
    position: static;
}

.is-flex [class*="col-"] {
    background: #fff;
}

.toUpper {
    text-transform: uppercase
}

.weight600 {
    font-weight: 600;
}

.weight500 {
    font-weight: 500;
}

/*Flex stuff*/
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    border: 1px dotted grey;
}

.box .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}

.nomargins {
    margin: 0;
}

.toolbar {
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: rgba(123, 123, 123, 0.13);
    padding: 3px 10px
}

.toolbar a{
    margin-left: 3px;
}

.formtitle {
    margin-left:-15px;
    margin-bottom: 15px;
    border-radius: 6px;
     padding: 10px 10px;
    margin-top: 35px;
}

.select-formgroup{
    margin-bottom: 20px;
}